.root {
  h2 {
    color: light-dark(var(--empoleon-color-gray-6), var(--empoleon-color-dark-2));
    font-size: var(--empoleon-font-size-xl);
  }

  p {
    font-size: var(--empoleon-font-size-lg);
  }

  a {
    color: var(--empoleon-color-red-6);
  }
}
