.root {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: light-dark(var(--empoleon-color-gray-0), var(--empoleon-color-dark-6));

  &[data-accept] {
    color: var(--empoleon-color-white);
    background-color: var(--empoleon-color-blue-6);
  }

  &[data-reject] {
    color: var(--empoleon-color-white);
    background-color: var(--empoleon-color-red-6);
  }
}
