.disabled {
  background-color: light-dark(var(--empoleon-color-gray-0), var(--empoleon-color-dark-6));
  border-color: light-dark(var(--empoleon-color-gray-2), var(--empoleon-color-dark-5));
  cursor: not-allowed;

  & * {
    color: light-dark(var(--empoleon-color-gray-5), var(--empoleon-color-dark-3));
  }
}
