.selector {
  display: block;
  width: 100%;
  font-size: var(--empoleon-font-size-sm);
  padding: 6px var(--empoleon-spacing-sm);
  border-radius: var(--empoleon-radius-sm);
  cursor: help;

  @mixin hover {
    background-color: light-dark(var(--empoleon-color-gray-0), var(--empoleon-color-dark-6));
  }
}
