.swatch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--empoleon-color-white);
  flex: 1 0 calc(15% - 4px);
}

.check {
  width: 12px;
  height: 12px;
}

.colorControl {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 calc(15% - 4px);
  height: 28px;
  border-radius: var(--empoleon-radius-sm);
  border: 1px solid light-dark(var(--empoleon-color-gray-5), var(--empoleon-color-dark-3));
}
