.root {
  border: 1px solid var(--demo-border);
  border-radius: var(--empoleon-radius-md);

  @mixin light {
    --demo-border: var(--empoleon-color-gray-2);
  }

  @mixin dark {
    --demo-border: var(--empoleon-color-dark-5);
  }
}
